@page "Index"
@model IndexFornitoriModel
@namespace _04_webapp_sqlite.Fornitori
@{
    ViewData["Title"] = "Gestione Fornitori";
    PaginationModel paginationModel = new PaginationModel
    {
        PageIndex = Model.FornitoriPaginate.PageIndex,
        TotalPages = Model.FornitoriPaginate.TotalPages,
        PageUrl = page => Url.Page("Index", new { pageIndex = page })
    };
}

<div class="container-fluid my-5">
    <div class="d-flex justify-content-center">
        <div>
            <h1>@ViewData["Title"]</h1>
             <div class="d-flex my-3 d-flex justify-content-center">
                <a asp-area="" asp-page="Create" class="btn btn-primary green w-100"><i
                        class="fa-solid fa-plus text-white"></i>
                    Crea</a>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                @* <th scope="col">Id</th> *@
                <th scope="col">Nome</th>
                <th scope="col">Contatto</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                @if (Model.Fornitori != null)
                {
                    @foreach (var fornitore in Model.FornitoriPaginate)
                    {
                        <tr>
                            @* <td>@fornitore.Id</td> *@

                            <td><a asp-page="Dettaglio" asp-route-id="@fornitore.Id">@fornitore.Nome</a></td>

                            <td>@fornitore.Contatto</td>
                            <td><a asp-route-id="@fornitore.Id" asp-page="Modifica">
                                    <div class="btn green"><i class="fa-solid fa-pen-to-square" style="color:white"></i>
                                    </div>
                                </a>
                                <a asp-page="Elimina" asp-route-id="@fornitore.Id">
                                    <div class="btn red"><i class="fa-solid fa-trash" style="color:white"></i></div>
                                </a>
                            </td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <partial name="_Pagination" model="paginationModel" />
</div>