@model PaginationModel
<nav aria-label="Page navigation">
    <ul class="pagination d-flex justify-content-center">
        @if (Model.HasPreviewPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Model.PageUrl(Model.PageIndex - 1)" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-label="Previous">
                    <span aria-hidden="true" aria-label="Previous">Previous</span>
                </span>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Model.PageUrl(i)">@i</a>
                </li>
            }
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Model.PageUrl(Model.PageIndex + 1)" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-label="Next">
                    <span aria-hidden="true" aria-label="Previous">Next</span>
                </span>
            </li>
        }
    </ul>
</nav>
