@using _04_webapp_sqlite.Models;
@{
    List<SelectListItem> Categorie = new List<SelectListItem>();
        Categorie = Model.CategorieTendina;

        List<SelectListItem> Fornitori = new List<SelectListItem>();
        Fornitori = Model.FornitoriSelectList;

    Prodotto Prodotto = Model.Prodotto;
}
 @section Scripts
    {
        <partial name="_ValidationScriptsPartial"/>
    }

    @* <th scope="row">
        #
    </th> *@
<td>
    <input type="text" class="form-control" asp-for="@Prodotto.Nome" />
    <span asp-validation-for="@Prodotto.Nome" class="text-danger"></span>
</td>

<td>
    <input type="text" class="form-control" asp-for="@Prodotto.Prezzo" />
    <span asp-validation-for="@Prodotto.Prezzo" class="text-danger"></span>
</td>


<td>
    <select asp-for="@Prodotto.CategoriaId" class="form-control" asp-items="@Categorie">
        <option value="">SCEGLI CATEGORIA</option>
    </select>
    <span asp-validation-for="@Prodotto.CategoriaId" class="text-danger"></span>
</td>

<td>
    <select asp-for="@Prodotto.FornitoreId" class="form-control" asp-items="@Fornitori">
        <option value="">SCEGLI FORNITORE</option>
    </select>
    <span asp-validation-for="@Prodotto.FornitoreId" class="text-danger"></span>
</td>



<td>
    <button type="submit" class="btn btn-primary" >Aggingi</button>
</td>
