@page "Index"
@model IndexProdottiModel
@namespace _04_webapp_sqlite.Prodotti
@{
    ViewData["Title"] = "Index dei Prodotti";
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Prezzo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Azione</th>
            </tr>
        </thead>
        <tbody>
            @{
                @if (Model.Prodotti != null)
                {
                    @foreach (var prodotto in Model.Prodotti)
                    {

                        <tr>
                            <th scope="row">@prodotto.Id</th>
                            <td>@prodotto.Nome</td>
                            <td>@prodotto.Prezzo</td>
                            <td>@prodotto.CategoriaNome</td>
                            <td><a asp-route-id="@prodotto.Id" asp-page="Modifica">
                                    Modifica
                                </a></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>