@page "Dettaglio"
@model Dettaglio
@namespace _04_webapp_sqlite.Prodotti
@{
    ViewData["Title"] = "Dettaglio prodotto";
    AggiungiProdottoModel CreateModel = new();
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                @* <th class="">Id</th> *@
                <th class="">Nome</th>
                <th class="" style="display:block">Prezzo
                    <a asp-page="Index" asp-route-ordine="0">
                        <i class="fa-solid fa-arrow-up" id="ArrowFilter"></i>
                    </a>
                    <a asp-page="Index" asp-route-ordine="1">
                        <i class="fa-solid fa-arrow-down " id="ArrowFilter"></i>
                    </a>
                </th>
                <th class="">Categoria</th>
                <th class="">Fornitore</th>
                <th class="">Actions</th>
                @* <th class="">Action 2</th> *@
            </tr>
        </thead>
        <tbody>
            @* <form method="post" asp-page="AggiungiProdotto">
                <tr>
                    <partial name="_PartialNuovoProdotto" model="@CreateModel" />
                </tr>
            </form> *@

            <tr>
                @* <td class="">@prodotto.Id</td> *@
                <td class="">@Model.Prodotto.Nome</td>
                @* <td class="">@Model.Prodotto.Prezzo.ToString("F2") €</td> *@
                <td>@PriceFormatter.Format(Model.Prodotto.Prezzo)</td>
                <td class="">@Model.Prodotto.CategoriaNome</td>
                <td class="">@Model.Prodotto.FornitoreNome</td>
                <td><a asp-route-id="@Model.Prodotto.Id" asp-page="Modifica">
                        <div class="btn green"><i class="fa-solid fa-pen-to-square" style="color:white"></i>
                        </div>
                    </a>

                    <a asp-page="Elimina" asp-route-id="@Model.Prodotto.Id">
                        <div class="btn red"><i class="fa-solid fa-trash" style="color:white"></i></div>
                    </a>

                </td>
            </tr>

        </tbody>
    </table>
    <form method="post">
        <input type="hidden" name="returnUrl" value="@HttpContext.Request.Headers["Referer"]" />
        <button type="submit" class="btn btn-primary">Indietro</button>
    </form>
    @* <a asp-page="/Prodotti/Index"></a> *@
</div>