@page "Index"
@model IndexProdottiModel
@namespace _04_webapp_sqlite.Prodotti
@{
    ViewData["Title"] = "Elenco Prodotti";
    AggiungiProdottoModel CreateModel = new();
    PaginationModel paginationModel = new PaginationModel
    {
        PageIndex = Model.Prodotti.PageIndex,
        TotalPages = Model.Prodotti.TotalPages,
        PageUrl = page => Url.Page("Index", new { pageIndex = page })
    };

}


<div class="container-fluid my-5">
    <div class="d-flex justify-content-center">
        <div>
            <h1>@ViewData["Title"]</h1>
            <div class="d-flex my-3">
                @* @await Html.PartialAsync("ProductSearch") *@
                <partial name="ProductSearch" model="paginationModel">
            </div>
        </div>
    </div>
    <br>

    <table class="table">
        <thead>
            <tr>
                @* <th class="">Id</th> *@
                <th class="">Nome</th>
                <th class="" style="display:block">Prezzo
                    <a asp-page="Index" asp-route-ordine="0" asp-route-idcategoria="@Model.IdCategoria">
                        <i class="fa-solid fa-arrow-up" id="ArrowFilter"></i>
                    </a>
                    <a asp-page="Index" asp-route-ordine="1" asp-route-idcategoria="@Model.IdCategoria">
                        <i class="fa-solid fa-arrow-down " id="ArrowFilter"></i>
                    </a>
                </th>
                <th class="">Categoria</th>
                <th class="">Fornitore</th>
                <th class="">Actions</th>
                @* <th class="">Action 2</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var prodotto in Model.Prodotti)
            {
                <tr>
                    @* <td class="">@prodotto.Id</td> *@
                    <td class="">
                        <a asp-page="Dettaglio" asp-route-id="@prodotto.Id">
                            @prodotto.Nome
                        </a>
                    </td>
                    @* <td class="">@prodotto.Prezzo.ToString("F2") €</td> *@
                    <td>@PriceFormatter.Format(prodotto.Prezzo)</td>
                    <td class="">@prodotto.CategoriaNome</td>


                    <td>
                        <a asp-page="/Fornitori/Dettaglio" asp-route-nomefornitore="@prodotto.FornitoreNome">
                            @prodotto.FornitoreNome
                        </a>
                    </td>

                    <td><a asp-route-id="@prodotto.Id" asp-page="Modifica">
                            <div class="btn green"><i class="fa-solid fa-pen-to-square" style="color:white"></i>
                            </div>
                        </a>

                        <a asp-page="Elimina" asp-route-id="@prodotto.Id">
                            <div class="btn red"><i class="fa-solid fa-trash" style="color:white"></i></div>
                        </a>
                    </td>
                </tr>
            }
            @* <form method="post" asp-page="AggiungiProdotto">
                <tr>
                    <partial name="_PartialNuovoProdotto" model="@CreateModel" />
                </tr>
            </form> *@
            
        </tbody>
    </table>
    <partial name="_Pagination" model="paginationModel" />
</div>